{% extends 'base-cms.html' %}
{% load static %}
{% block title %}CMS Pages{% endblock %}

{% block content %}

		
			<div class="flexbox">
				<div class="h2">Pages</div>

				

			</div>
			

			<table class="table table-striped">
			  <thead>
			    <tr>

			    	<th scope="col">ID</th>
			    	<th scope="col">Name</th>
			      <th scope="col">Sections</th>
			    	
			    	
			    	
			     
			     
			    </tr>
			  </thead>
			  {% for data in pages %}
			  <tbody>
			    <tr>
			    	<th>{{ data.id }}</th>
			    	<td>{{ data.name }}</td>
			    	<td>

			    	{% for x in data.section.all %}

			    	{{ x.id }} / {{ x.name }} <a href="{% url 'cms_section_detail' x.id %}"><i style="color:var(--red)" class="far fa-edit"></i></a><br>
			    	{% endfor %}


			    	</td>
			    	
			      
			    </tr>
			    
			  </tbody>
			  {% endfor %}

			</table>

 {% endblock %}
