{% extends 'base-cms.html' %}
{% load static %}
{% block title %}CMS Gallery{% endblock %}

{% block content %}

		
			<div class="flexbox">
				<div class="h2">Bilder</div>
				
			</div>
						


						{% if gallery %}

											

						{% else %}
						     <a class="btn btn-primary" href="{% url 'cms_blog_gallery_image_add' blog.pk %}">Bild hinzufügen</a>
						  
							{% endif %}

						<button class="btn btn-danger btn-exit"><a href="{% url 'cms_blog' %}">Zurück <span class="fas fa-times"></span></a></button>

			<div class="flexbox">
				
				
			</div>

			
			{% if gallery %}
			  	<div style="display: flex;">

			  	
			  	
						  	{% for x in gallery %}
						    
						    <div style="width:500px;background:var(--grey);padding:3rem;display:flex;justify-content:space-between;">

						    	
						      
						      {{ x.pk }}
						      
						      	{% if x.image %}
						      	<img style="max-width:60%;" src="{{ x.image.url }}">
						      	{% else %}
						      	{% endif %}
						  		

						     
						     {{ x.alt }}
						      
						      <a href="{% url 'cms_blog_gallery_image_delete' blog.id x.id %}"><i style="color:var(--red)" class="far fa-trash-alt"></i>
								 </a>
						   
						    </div>
						    </div>
						     {% endfor %}

			     {% else %}
			     <p>Es sind keine Bilder vorhanden</p>
			  
				{% endif %}
		
		

			
 {% endblock %}

