{% extends 'base-cms.html' %}
{% load static %}
{% block title %}CMS Blog{% endblock %}

{% block content %}

		
			<div class="flexbox">
				<div class="h2">Aktuelles</div>
			</div>
			<div class="flexbox">
				<a class="btn btn-secondary btn-sm mr-1" href="{% url 'cms_blog_erfassen' %}">Erfassen</a>
			</div>

			<table class="table table-striped">
			  <thead>
			    <tr>

			    	<th scope="col">ID</th>
			    	<th scope="col">Title</th>
			    	<th scope="col">Titelbild</th>    	
			      
			      <th scope="col">Sortierung</th>
			       <th scope="col">Date created</th>
			      <th scope="col">Bearbeiten</th>
			      <th scope="col">Löschen</th>
			     
			     
			    </tr>
			  </thead>
			  {% for data in blog %}
			  <tbody>
			    <tr>

			    	<th>{{ data.id }}</th>
			    	<td>
			    		{{ data.title }}
			      </td>

			    	<td>
			    <img style="max-width:150px" src="{{ data.thumbnail.url }}" alt="{{ data.thumbnail_alt }}">
			      </td>

			      <td>{{ data.sort }}</td>
			      <td>{{ data.date_created }}</td>
			      <td>
			      	<a href="{% url 'cms_blog_bearbeiten' data.id %}"><i style="color:var(--red)" class="far fa-edit"></i>
					 </a>
					 </td>
  					<td>
  					<a href="{% url 'cms_blog_löschen' data.id %}"><i style="color:var(--red)" class="far fa-trash-alt"></i>
					 </a>
					</td> 
			    </tr>
			    
			  </tbody>
			  {% endfor %}

			</table>

 {% endblock %}