{% extends 'base-cms.html' %}
{% load static %}
{% block title %}CMS | SH Digital {% endblock %}
{% block meta_description %}Login CMS SH Digital{% endblock %}

{% block head %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static '/css/settings.css' %}">

        
{% endblock %}

{% block content %}


<div class="home-items">
<div style="padding-top:10rem" class="kontakt padding">


	<!-- Message info -->
    {% if messages %}
    {% for message in messages %}

    <div class="alert alert-warning" role="alert">
      <button class="close" data-dismiss="alert"><small>x</small></button>
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    <!-- Message info end -->

    {% if user.is_authenticated %}
    <p>You are already logged in - <a href="{% url 'cms' %}">here you will get to the backend</a>
    <p>May you want to logout? - <a href="{% url 'logout_user' %}">Logout</a>
 
    {% else %}

 <br> <br>
    <!-- LOGIN FORM BOOTSTRAP -->
    <div class="form-container" style="margin-top: -10rem;width:400px;display:flex; justify-content:center; align-items: center;">
	 <form method="POST" class="form-signin">
 		{% csrf_token %}
      <img style="width:100%" src="{% static '/images/ontronix-logo.png' %}" alt="SH Digital Logo" >
      <br><br> <br>
      <h2>Login CMS</h2>
       <br>
      <label for="inputEmail" class="sr-only">Benutzername</label>
      <input type="text" name="username" class="form-control" value="" placeholder="Benutzername" id="inputEmail" required autofocus>
      <br>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Passwort" required>
      <br>
      <div class="checkbox mb-3"><label><input type="checkbox" value="remember-me"> Login merken</label></div>
      <button name="button" class="btn btn-lg btn-primary btn-block" type="submit">Anmelden</button>
      <p class="mt-5 mb-3 text-muted">&copy; {{ year }} SH Digital</p>
    </form>
    </div>     
	{% endif %}
	<!-- LOGIN FORM BOOTSTRAP END -->

</div><!-- kontakt -->
	</div><!-- home items -->
	<br><br>

{% endblock %}

{% include 'footer.html' %}