{% extends 'base-cms.html' %}
{% load static %}
{% block title %}CMS Partner erfassen{% endblock %}

{% block content %}

		
			<div class="produkt">
				
			<div class="produkt-header">
			<h2>Partner erfassen</h2><button class="btn btn-danger btn-exit"><a href="{% url 'cms_partner' %}">Zurück <span class="fas fa-times"></span></a></button>
			</div>
			<br>
			<div class="form-group">
		    
		    <form method="POST" enctype="multipart/form-data">
		      {% csrf_token %}
		      {{ form.media }}
		      {{ form.as_p }}
		     <br><br>
		      <button class="btn btn-success btn-save">Speichern <span class="fas fa-check-circle"></span></button>
		      
  			</div>
  			</div>
			
			   </form>
			   </div>
			   
			
			</div>

 {% endblock %}
