{% extends 'base-cms.html' %}
{% load static %}
{% block title %}Partner{% endblock %}

{% block content %}

		
			<div class="flexbox">
				<div class="h2">Partner</div>
				
			</div>

			<div class="flexbox">
				<a class="btn btn-secondary btn-sm mr-1" href="{% url 'cms_partner_erfassen' %}">Erfassen</a>
			</div>
			

			<table class="table table-striped">
			  <thead>
			    <tr>
			    	<th scope="col"><br>ID</th>
			    	<th scope="col"><br>Name</th>
			    	<th scope="col">Bild</th>
			    	<th scope="col">Sortierung</th>
			    	<th scope="col">Bearbeiten</th>
			       	<th scope="col">Löschen</th>      

			    </tr>
			  </thead>


			  {% for data in partner %}
			  <tbody>
			    <tr>
			      <th scope="row">{{ data.id }}</th>
			      <td>
			      {{ data.name }}</form>
			  		</td>

			      <td><img style="max-width:150px" src="{{ data.image.url }}" alt="{{ data.image_alt }}"></td>

			      <td>{{ data.sort }}</td>
			      
			    <td><a href="{% url 'cms_partner_bearbeiten' data.pk %}"><i style="color:var(--red)" class="far fa-edit"></i></a>
			    </td>

			    <td><a href="{% url 'cms_partner_löschen' data.pk %}"><i style="color:var(--red)" class="far fa-trash-alt"></i></a>
			    </td>


			    </tr>
			  </tbody>
			  {% endfor %}

			</table>

			
 {% endblock %}

