{% extends 'base-cms.html' %}
{% load static %}
{% block title %}CMS Dashboard{% endblock %}

{% block content %}

		<br><br>
		<h1>Willkommen</h1>
		<p></p>

		<div class="flexbox">
				
				<a class="flexelement" href="{% url 'cms_kunden' %}">Users</a>
				
				<a class="flexelement" href="{% url 'cms_pages' %}">Pages
				</a>

				<a class="flexelement" href="{% url 'cms_produkte' %}">Produkte
				</a>

				<a class="flexelement" href="{% url 'cms_service' %}">Dienstleistungen
				</a>

				<a class="flexelement" href="{% url 'cms_pdf' %}">Downloads
				</a>

				<a class="flexelement" href="">Aktuelles
				</a>

				<a class="flexelement" href="">Partner
				</a>

				<a class="flexelement" href="">Karriere
				</a>

				
		</div>
  
</div>


 {% endblock %}

