aiohttp==3.8.4
aiosignal==1.3.1
arabic-reshaper==2.1.3
asgiref==3.5.2
asn1crypto==1.5.1
async-timeout==4.0.2
attrs==23.1.0
Babel==2.9.1
beautifulsoup4==4.9.3
boto3==1.17.38
botocore==1.20.38
Brotli==1.0.9
cachetools==4.2.2
certifi==2021.5.30
cffi==1.15.1
chardet==4.0.0
charset-normalizer==2.0.4
click==8.1.3
colorama==0.4.5
coreapi==2.3.3
coreschema==0.0.4
cryptography==3.4.7
cssselect2==0.4.1
Cython==3.0.3
defusedxml==0.7.1
diff-match-patch==20200713
dj-database-url==0.5.0
Django==4.1.1
django-allauth==0.51.0
django-appconf==1.0.5
django-bootstrap-modal-forms==2.2.0
django-brotli==0.2.0
django-ckeditor==6.5.1
django-cors-headers==3.14.0
django-countries==7.5.1
django-crispy-forms==1.12.0
django-extensions==3.1.1
django-heroku==0.3.1
django-http-referrer-policy==1.1.1
django-import-export==2.8.0
django-ipware==5.0.0
django-js-asset==2.2.0
django-phonenumber-field==7.2.0
django-recaptcha==3.0.0
django-referrer-policy==1.0
django-rest-framework==0.1.0
django-sslserver==0.22
django-storages==1.11.1
django-tempus-dominus==5.1.2.17
djangorestframework==3.14.0
drf-recaptcha==2.2.3
enum34==1.1.10
et-xmlfile==1.1.0
fonttools==4.27.1
frozenlist==1.3.3
future==0.18.2
google==3.0.0
google-analytics-data==0.17.1
google-api-core==2.12.0
google-api-python-client==2.60.0
google-auth==2.20.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.8.0
google-cloud-language==2.5.2
googleapis-common-protos==1.56.4
grpcio==1.48.1
grpcio-status==1.48.1
gunicorn==20.1.0
html5lib==1.1
httplib2==0.20.4
idna==3.3
isodate==0.6.1
itypes==1.2.0
Jinja2==3.1.2
jmespath==0.10.0
lxml==4.9.1
MarkupPy==1.14
MarkupSafe==2.1.2
multidict==6.0.4
numpy==1.26.0
oauth2client==4.1.3
oauthlib==3.2.0
odfpy==1.4.1
openai==0.27.8
openpyxl==3.0.10
oscrypto==1.3.0
packaging==21.3
pandas==2.1.1
phonenumbers==8.13.27
Pillow==9.2.0
platformdirs==3.5.3
proto-plus==1.22.1
protobuf==4.24.4
psycopg2==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.20.1
pycparser==2.20
pydyf==0.1.1
pyHanko==0.13.2
pyhanko-certvalidator==0.19.5
PyJWT==2.1.0
pyparsing==2.4.7
PyPDF2==1.26.0
PyPDF3==1.0.6
pyphen==0.11.0
python-bidi==0.4.2
python-dateutil==2.8.2
python-decouple==3.3
python-docx==0.8.11
python3-openid==3.2.0
pytz==2020.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==5.3.1
qrcode==7.3.1
reportbro-fpdf==1.7.11
reportlab==3.6.11
requests==2.28.1
requests-file==1.5.1
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rsa==4.7.2
s3transfer==0.3.7
simpleeval==0.8.1
six==1.16.0
soupsieve==2.2.1
sqlparse==0.3.1
svglib==1.4.1
tablib==3.0.0
tinycss2==1.1.0
tqdm==4.64.1
typing==3.7.4.3
typing_extensions==4.9.0
tzdata==2022.2
tzlocal==4.2
uritemplate==3.0.1
uritools==4.0.0
urllib3==1.26.6
webencodings==0.5.1
whitenoise==5.2.0
xhtml2pdf==0.2.8
xlrd==2.0.1
XlsxWriter==3.0.1
xlwt==1.3.0
xmltodict==0.13.0
yarl==1.9.2
zeep==4.2.1
zopfli==0.2.1
